/* colors */
:root {
  --bg-body: #FAF7F5;
  --bg-sidebar: #FFFFFF;
  --bg-card: #FFFFFF;
  --bg-hover: #F2F0EB;
  --text-main: #000000;
  --text-muted: #777777;
  --border: #E0E0E0;
  --shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  --border: #3E3434;
  --accent: #E7965C;
  --accent-hover: #d67c56;
  --success: #4CAF50;
  --danger: #FF5252;
}

body.dark-theme {
  --bg-body: #191414;
  --bg-sidebar: #231E1E;
  --bg-card: #2C2525;
  --bg-hover: #3A3232;
  --text-main: #FFFFFF;
  --text-muted: #AAAAAA;
  --shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

body {
  background-color: var(--bg-body);
  color: var(--text-main);
  transition: background-color 0.3s ease, color 0.3s ease;
  height: 100vh;
  overflow: hidden;
}